In [1]:
# Math
import random as rd

# Analysis
import pandas as pd

In [2]:
def d6(qty):
    total = 0
    
    for die in range(qty):
        total += rd.randint(1, 6)
    
    return total


def fudge(qty):
    total = 0
    
    for die in range(qty):
        total += rd.randint(-1, 1)
    
    return total

In [3]:
def roll_characters(qty):
    data = {
        'STR': [],
        'CON': [],
        'SIZ': [],
        'DEX': [],
        'INT': [],
        'POW': [],
        'CHA': []
    }

    def roll_character():
        data['STR'].append(d6(3))
        data['CON'].append(d6(3))
        data['SIZ'].append(d6(2)+6)
        data['DEX'].append(d6(3))
        data['INT'].append(d6(2)+6)
        data['POW'].append(d6(3))
        data['CHA'].append(d6(3))

        return
    
    for character in range(qty):
        roll_character()
        
    return data

In [4]:
results = roll_characters(5)

In [5]:
df = pd.DataFrame(data=results)

In [6]:
df.head()

   STR  CON  SIZ  DEX  INT  POW  CHA
0   14   13   12    7   17   12   10
1    7    7   18   11   12    9   17
2   13    9   13   15   16   13   13
3    9   15   13   12   13    9    6
4    4    7   15    6   13   14    9

In [8]:
df.to_csv('first_five.csv')